.sendpassword{

    padding:2rem 2rem 1rem 2rem;
    max-width: 20rem;

    background-color: #fff;
    border-radius: 5px;
    

    h2{
        font-weight: bold;
        font-size:1.2rem;
    }

    h3
    {
        margin: 0.2rem 0rem 0 0;
        font-size:1rem;
    }

    .btn-sign-in
    {
        width: 100%;
        margin:2rem 0 1rem 0;
        padding:2rem 2rem 1rem 2rem;
        padding: 0.5rem;
        border: none;
        border-radius: 5px; 
        background-color: #00e;

        font-weight: bold;
        font-size: 1.2rem;
        color:#fff;
    }

}

.input
{
    margin-top: 1rem;

    display:flex;
    flex-direction: column;

//    width: 20rem;

    border:none;
    border-bottom: solid 2px #00e;

    input[type=text], input[type=password]{
        border: none;
        outline: none;
        height: 2rem;
        font-size: 1.2rem;

        &:focus{
            border-bottom: solid 1px #00e;
        }
    

    }

    label
    {
        font-weight: bold;
    }    

    
}

.forgot-password
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            cursor: pointer; 
            font-size: 1rem;
            padding: 0  0 1rem 0;
            font-weight: bold;
            color: #00e;
            transition: color 1s;

            &:hover{
                color: #006
            }
        }
    }