<div class="container-destinations">
    <div class="box-destinations">
        <h3 class="travel-h3">Register an airport</h3>
        <form [formGroup]="airportForm">
            <div class="input-box">
                <label for="name">Airport Name</label>
                <input id="name" name="name" type="text" formControlName="airportName" placeholder="Airport">
            </div>
            <div class="input-box">
                <label for="country">Country</label>
                <input id="country" name="country" type="text" formControlName="country" placeholder="country">
            </div>
            <div class="input-box">
                <label for="city">City</label>
                <input id="city" name="city" type="text" formControlName="city" placeholder="city">
            </div>
        </form>
        <button (click)="createAirport()" class="btn-new">SEND</button>
        <!-- {{ airportForm.value |json }} -->
        <!-- {{ customer$ | json }} -->
    </div>
    <div class="box-destinations">

        <table>
            <thead>
                <tr>
                  <th>Airport</th>
                  <th>Country</th>
                  <th>City</th>
                  <th>From</th>
                  <th>To</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let airport of airports$">
                    <td>{{ airport.name }}</td>
                    <td>{{ airport.country }}</td>
                    <td> {{ airport.city }}</td>
                    <td (click)="setDepartureAirport(airport)">Add</td>
                    <td (click)="setArrivalAirport(airport)">Add</td>
                </tr>
            </tbody>
        </table>
        <!-- <blockquote> Airports </blockquote> -->
        
    </div>
    <!--Create trip-->

    <div class="box-destinations">
        <h3 class="travel-h3">Create an offer</h3>
        <div class="radio-row">
            <div class="input-box radio">
                <input type="radio" id="oneway" name="oneway" value="oneway">
                <label for="oneway">One way</label>
            </div>
            <div class="input-box radio">
                <input type="radio" id="return" name="oneway" value="return">
                <label for="return">Return</label><br>
            </div>
        </div>
        <div class="airport-travel">
            <div class="from">
                <div class="input-box">
                   <h3>
                        Departure Airport
                    </h3>
                    <div class="airportname">
                        {{ departureAirport.name }}
                    </div> 
                </div>
                <div class="input-box">
                    <h3>
                         From City
                     </h3>
                     <div class="airportname">
                         {{ departureAirport.city }}
                     </div> 
                 </div>
                 <div class="input-box">
                    <h3>
                         In Country
                     </h3>
                     <div class="airportname">
                         {{ departureAirport.country }}
                     </div> 
                 </div>
                 <form [formGroup]="airportForm">
                    <div class="input-box">
                        <h3>
                            Departure date
                        </h3>
                        <input type="datetime-local" formControlName="departureDate" >
                        
                    </div>
                 </form>
                {{ airportForm.value.departureDate | json }}
                


            </div>
            <div class="to">
                <div class="input-box">
                    <h3>
                        Arrival Airport
                    </h3>
                    <div class="airportname">
                        {{ arrivalAirport.name }}
                    </div>
                </div>
                <div class="input-box">
                    <h3>
                         From City
                     </h3>
                     <div class="airportname">
                         {{ arrivalAirport.city }}
                     </div> 
                 </div>
                 <div class="input-box">
                    <h3>
                         In Country
                     </h3>
                     <div class="airportname">
                         {{ arrivalAirport.country }}
                     </div> 
                 </div>
                 <form [formGroup]="airportForm">
                    <div class="input-box">
                        <h3>
                            Price {{ airportForm.value.price }}
                        </h3>
                        <input type="number" formControlName="price"  >
                    </div>
                </form>
                 <button (click)="registerTravel()" class="btn-new">Register</button>
            </div>
        </div>
    </div>


</div>
