<table>
    <thead>
        <tr>
            <th colspan="3">Travling from</th>
            <th colspan="3">Travling to</th>
            <th colspan="3">Your price</th>
        </tr>
        <tr>
          <th>Airport</th>
          <th>Country</th>
          <th>City</th>
          <th>Airport</th>
          <th>Country</th>
          <th>City</th>
          <th>Date</th>
          <th>price</th>
          <th *ngIf="customer$ != null && customer$.roles == 'CUSTOMER'" >Buy</th>
          <th *ngIf="customer$ != null && customer$.roles == 'ADMIN'" >Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let deal of offers" ><!-- *ngFor="let airport of airports$" -->
            <ng-container *ngIf="deal.fromAirport != null &&  deal.toAirport != null">
                <td>{{ deal.fromAirport.name }}</td>
                <td>{{ deal.fromAirport.country }}</td>
                <td> {{ deal.fromAirport.city }}</td>
                <td>{{ deal.toAirport.name }}</td>
                <td>{{ deal.toAirport.country }}</td>
                <td> {{ deal.toAirport.city }}</td>
                <td> {{ createDate(deal.depatureDate) }}</td>
                <td >{{ deal.price }} kr </td>
                <td (click)="buyTravel(deal)" *ngIf="customer$ != null && customer$.roles == 'CUSTOMER'">Add</td>
                <td (click)="delteOffer(deal)" class="remove" *ngIf="customer$ != null && customer$.roles == 'ADMIN'" ></td>
            </ng-container>
        </tr>
    </tbody>
</table>

