<table>
    <thead>
        <tr>
            <th colspan="3">Travling from</th>
            <th colspan="3">Travling to</th>
            <th colspan="4">Your price</th>
        </tr>
        <tr>
          <th>Airport</th>
          <th>Country</th>
          <th>City</th>
          <th>Airport</th>
          <th>Country</th>
          <th>City</th>
          <th>Date</th>
          <th>price</th>
          <th *ngIf="customer$ != null && customer$.roles == 'CUSTOMER'" >seat's</th>
          <th *ngIf="customer$ != null && customer$.roles == 'CUSTOMER'" >Buy</th>
          <th *ngIf="customer$ != null && customer$.roles == 'ADMIN'" >Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let deal of offers" ><!-- *ngFor="let airport of airports$" -->
            <ng-container *ngIf="deal.fromAirport != null &&  deal.toAirport != null">
                <td>{{ deal.fromAirport.name }}</td>
                <td>{{ deal.fromAirport.country }}</td>
                <td> {{ deal.fromAirport.city }}</td>
                <td>{{ deal.toAirport.name }}</td>
                <td>{{ deal.toAirport.country }}</td>
                <td> {{ deal.toAirport.city }}</td>
                <td> {{ createDate(deal.depatureDate) }}</td>
                <td >{{ deal.price }} kr </td>
                <td *ngIf="customer$ != null && customer$.roles == 'CUSTOMER'"> {{ deal.plane?.numberOfSeats }} </td>
                <td (click)="addTravelToList( deal )" *ngIf="customer$ != null && customer$.roles == 'CUSTOMER'">Add</td>
                <td (click)="delteOffer(deal)" class="remove" *ngIf="customer$ != null && customer$.roles == 'ADMIN'" ></td>
            </ng-container>
        </tr>
    </tbody>
</table>
<div *ngIf="travelToBuy != null"  class="create-seat">
    <h3>Where do you want to site when travling from </h3>
    <div class="from">
        {{ travelToBuy?.fromAirport?.name }}
    </div>
    <h3> to </h3>
    <div class="to">
        {{ travelToBuy?.toAirport?.name }}
    </div>
    <h3 class="choose-seat"> seat number: </h3>
        <form [formGroup]="seatForm" > 
            <input type="number" formControlName="seatNumber" >
        </form>
    <button (click)="buyTravel(travelToBuy)" class="btn-sign-in" >add to order</button>
</div>



