.background
{
    
    background-image: url("/assets/img/Cityscape.svg");
    background-repeat: no-repeat, repeat;
    background-size: 100vw;
    background-position: center;
    background-color: #cccccc;
    min-height: calc(100vh - 4rem);
//    overflow-x: hidden;
}