.destination
{
    display: flex;
}

.search-container
{
    height: 20rem;
   

    margin-left:2rem;

    display: flex;
//    align-items: center;

//    background-color: #eee;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;

   
}

.h2-destination
{

    margin: 2rem 0 0 0;

    font-size: 1.5rem;
    font-weight: bolder;

}

.selectbox
{
 //   border: solid black 1px;
    position: relative;
    // padding: 0;
    width: fit-content;
    height: fit-content;

   
}

.select-input
{
    box-shadow: 0 10px 25px rgba($color: #000000, $alpha: 0.3);
    font-size: 1.5rem;
    padding: 0.5rem 3rem 0.5rem 1em;
    margin: 2rem 2rem 0 0;
    
    border-radius: 2rem;

    appearance: none;
    background-image: url("../../../../assets/img/arrow.svg");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 1rem;
    background-size: 30% 30%;
     
    &:nth-child(3)
    {
        background-position-x: 100%;
    }

    &:focus
    {
        border: none;
        outline: none;
    }
    
}


.search-destination
{
    
    margin:1rem 0 0 0;
    display: flex;
    justify-content: space-between; 
}

.searchbox
{
    display: flex;
    flex-direction: column;

    background-color: #fff;
    box-shadow: 0 10px 25px rgba($color: #000000, $alpha: 0.3);
    border-radius: 5px;

    width: 45%;
}

.searchbox>label
{
    font-weight: lighter;
    font-size:1rem;
    margin: 0.2rem 1rem 1rem 0.2rem;

    color: #777;
}

.searchbox>input
{
    height: 2rem;
    border:none;
    margin:0.3rem;

    font-size: 1.2rem;
    border-radius: 5px;

    &:focus
    {
        outline:none;
    }
}
