<section class="destination">
    <div class="search-container">
        <h2 class="h2-destination">Whats your next destination</h2>
            <form>
                <div class="typeof-travel">
                    <select>
                        <option value="0">Return</option>
                        <option value="1">One way</option>
                        <option value="2">return trip</option>
                        <option value="3">Multi-city</option>
                    </select>
                    <select>
                        <option value="0">Economy</option>
                        <option value="1">Budget</option>
                        <option value="2">Business</option>
                        <option value="3">First Class</option>
                    </select>
                    <select>
                        <option value="0">Direct flight</option>
                        <option value="1">1  Stop</option>
                        <option value="2">2+ Stops</option>
                        <option value="3">No limit</option>
                    </select>    
                </div>
                <div class="search-destination">
                    <div class="searchbox">  
                        <label>Departure</label>
                        <input type="text">
                    </div>
                    <div class="searchbox"> 
                        <label>Destination</label>
                        <input type="text">
                    </div>       
                </div>
            </form>
    </div>       
</section>