<div class="admin-pages">
    <div class="sidebar">
        <h2 class="adminboard">Admin board</h2>
            <ul>
                <li class="nav-view">
                    <a href="">
                        Create trip              
                    </a>
                </li>
                <li class="nav-view">
                    <a href="">
                        Customers
                    </a>
                </li>
                <li class="nav-view">
                    <a href="">
                        View travelorders
                    </a>
                </li>
                <li class="nav-view">
                    <a href="">
                        d
                    </a>
                </li>
                <li class="nav-view">
                    <a href="">
                        e
                    </a>
                </li>
            </ul>
    </div>
    
    <section class="heading">
        <h2>{{ headingsAdmin }}</h2>
        <h3>Setup destinations</h3>
    <app-setup-destination></app-setup-destination>    
    </section>
    



</div>
