ul
{

    display:flex;
    justify-content: center;
    padding: 2rem;
}

  .circle
{

    display: flex;
    align-items: center;
    justify-content: center;

    

    width: 4em;
    height: 4em;
    border-radius: 100%;
    background: dodgerblue;
    color: white;
    border:#fff 2px transparent;
    transition: transform 0.5s ease, background 1s ease, border 1s ease-in; 
    
    
}

  // .circle:hover{
  //  // transform: scale(1.2, 1.2);
    
  // }

  .line{
      align-self:center;
       min-width: calc(15%);
      border-bottom: 2px solid dodgerblue;
  }
  
  .active {
    background: dodgerblue;
  }

  .circle.done
  {
      background: green;
  }

  .circle.active
  {
    border:#fff 2px solid;
    
  }

  .border.aktive
  {
    
    height: 1px;
    width:  1px;
  }

  a
  {
    font-weight: bolder;
    font-size: 2rem;
  }

  