.background
{
    
    background-image: url("../../assets/img/map.png");
    background-repeat: no-repeat, repeat;
    background-size: contain;
    background-position: center;
    background-color: #cccccc;
    background-attachment: fixed;
    min-height: calc(100vh - 4rem);
    overflow-y: hidden;
//    overflow-x: hidden;
}
