<nav class="navbar">
    <div class="navbox">
        <a [routerLink]="['/']" class="heading">
            <img src="assets/img/headingux.svg" alt="Flight loggo"/>
        </a>
    </div>
    <div class="navbox">
        <a *ngIf="loggedIn()" [routerLink]="['/mypages']" class="login boka">
            {{ customer$.firstName }}s page 
        </a>
        <a [routerLink]="['/booking/date']" class="login boka">
            Booking
        </a>
        <a *ngIf="loggedIn()" (click)="logout()"  [routerLink]="['/login']" class="login">
            Logout
        </a>
        <a *ngIf="!loggedIn()" [routerLink]="['/login']" class="login">
            Login
        </a>
       
    </div>
    
    
    <!-- <div class="make-space"></div> -->

</nav>
