.navbar
{

    display: flex;
    // flex-direction: row-reverse;
     justify-content: space-between;
    align-items: center;

    height: 4rem;

    background-color: #E67C64;

    .login{
        
        padding: 0rem 2rem 0rem 0;

        font-size: 1.5rem;
        font-weight: bold;
        color:#000;
        transition: color 0.5s;
        
        &:hover{
            color: #fff;
        }
    }

    .boka
    {
        justify-self: end; 
    }

    // .make-space
    // {
    //     width: 10%;
    // }

    .heading{
    
       justify-self: start;
       margin-left: 1.5rem;   
       
    }

    .heading>img
    {
        height: 4rem;
    }
}